body{
    background-color: #b5a789;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

h3{
    color:#954b4b;
    text-transform: uppercase;
}

header{
    background-color: #675c47;
    color: #cdc2ad ;
    font-size:150%;
    height: 108px;
    margin: 10px 10px 0px 10px;
}
header p{
    width: 350px;
    float:right;
    text-align: right;
    padding-right: 20px;
    line-height: 1.1em;
}
#main, aside, #drinks{
    background-color: #efe5d0;
}
aside{
    display: table-cell;
    width: 35%;
    padding: 15px;
    vertical-align: top;
}
#main{
    display: table-cell;
    width:45% ;
    padding: 15px;
    vertical-align: top;
}
#drinks{
    display: table-cell;
    width: 20%;
    padding: 15px 25px 15px 25px;
    vertical-align: top;
}
footer{
    background-color: #675c47;
    margin: 0px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    font-size:90%;
    color: #efe5d0;
}

#allcontent{
    background-color: #b5a789;
}
#tableConteiner{
    display: table;
    border-spacing: 10px;
}
#tableRow{
    display: table-row;
}
#award{
    position: absolute;
    top:30px;
    left:365px;
}
#coupon{
    position: fixed;
    top:350px;
    left:-90px;
}
#coupon a, img{
    border:none;
}