body{
    background-color: #b5a789;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    color:#954b4b;
}
#header{
    background-color: #675c47;
    color: #cdc2ad ;
    font-size:150%;
    margin: 10px;
    height: 108px;
}
#header p{
    width: 350px;
    float:right;
    text-align: right;
    padding-right: 20px;
    line-height: 1.1em;
}
#main, #sidebar{
    background-color: #efe5d0;
}
#sidebar{
    padding: 15px;
    margin: 0px 10px 10px 10px;
    position: absolute;
    top: 128px;
    right:0px;
    width: 280px;
}
#main{
    padding: 15px;
    margin: 0px 330px 10px 10px;
}
#footer{
    background-color: #675c47;
    clear: left;
}
#allcontent{
    width: 90%;
    background-color: #b5a789;
    margin-left: auto;
    margin-right: auto;
}